<div class="main">
	<p>My name is Brian, and some of my favorite things are:</p>
	<ul>
	<% ['cars', 'computers', 'coding', 'food'].each do |fruit| %>
		<li> <%= fruit %> </li>
		<% end %>
	</ul>

	<p>Thank you for stopping by</p>



	The current time is <%= Time.now %>

</div>
